<div class="min-h-full flex flex-col items-stretch md:items-center justify-center mx-4 sm:mx-8 lg:mx-16 my-4 sm:my-8">
    @if(poemHtml) {
    <article class="prose lg:prose-xl" [innerHTML]="poemHtml"></article>
    <div class="my-16 self-center">Направено со 💜 -
        <a href="https://github.com/dimeskigj/poezija/" class="text-violet-500">изворен код</a>.
    </div>
    }
    @else {
    <div class="spinner self-center"></div>
    }
</div>
<div class="flex justify-center" *ngIf="!hasSeenNotice">
    <app-notice class="fixed bottom-0 sm:bottom-8" (onClose)="onNoticeClosed()">
        Секој ден добиваш различна поема, дојди утре пак!
    </app-notice>
</div>