<div class="p-6 sm:p-4 bg-violet-500 items-center text-white leading-none sm:rounded-full flex sm:inline-flex shadow-md bg-opacity-60 backdrop-blur-lg" role="alert">
    <span class="font-semibold mr-2 text-left flex-auto">Секој ден добиваш различна поема, помини и утре!</span>
    <svg class="fill-current opacity-75 h-4 w-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" (click)="onNoticeClosed()">
        <path
            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
    </svg>
</div>