@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    animation: spinner-plncf9 4s infinite;


    &::before,
    &::after {
        content: "";
        grid-area: 1/1;
        border: 9px solid;
        border-radius: 50%;
        border-color: #474bff #474bff #0000 #0000;
        mix-blend-mode: darken;
        animation: spinner-plncf9 1s infinite linear;
    }

    &::after {
        border-color: #0000 #0000 #dbdcef #dbdcef;
        animation-direction: reverse;
    }
}

@keyframes spinner-plncf9 {
    100% {
        transform: rotate(1turn);
    }
}

.poem-article h1,
.poem-article h2,
.poem-article h3 {
  @apply text-violet-600;
}

.dark .poem-article h1,
.dark .poem-article h2,
.dark .poem-article h3 {
  @apply text-violet-400;
}